GClient/Connected Services/GServiceReference/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8083/GService/Service?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CommonTypes" />
  <xs:complexType name="ArrayOfKeyValueOflongCustomersn3a0qDc">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOflongCustomersn3a0qDc">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:long" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommonTypes" name="Value" nillable="true" type="q1:Customer" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOflongCustomersn3a0qDc" nillable="true" type="tns:ArrayOfKeyValueOflongCustomersn3a0qDc" />
  <xs:complexType name="ArrayOfKeyValueOflongInventorysn3a0qDc">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOflongInventorysn3a0qDc">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:long" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommonTypes" name="Value" nillable="true" type="q2:Inventory" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOflongInventorysn3a0qDc" nillable="true" type="tns:ArrayOfKeyValueOflongInventorysn3a0qDc" />
  <xs:complexType name="ArrayOfKeyValueOflongOrdersn3a0qDc">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOflongOrdersn3a0qDc">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:long" />
            <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CommonTypes" name="Value" nillable="true" type="q3:Order" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOflongOrdersn3a0qDc" nillable="true" type="tns:ArrayOfKeyValueOflongOrdersn3a0qDc" />
</xs:schema>